
.profileButton{
    background: 'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)';
    border: 0;
    color: 'white';
    height: 100;
    padding: '0 30px';
}

.comment-container {
    height: 100%;
    margin-bottom: 15px;
  }
  
  .username-container {
    display: flex;
  }
  
  .username-container p {
    margin: 10px;
  }
  
  .username {
    font-weight: 600;
    font-size: 15px;
    color: #e0e0e0;
    font-family: 'Proza Libre', sans-serif;
  }
  
  .date {
    font-size: 12px;
    color: #606060;
  }
  
  .comment-body {
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #808080;
  }
  
  .satisfied {
    position: relative;
    color: green;
    top: -10px;
    margin-left: 10px;
  }
  
  .dissatisfied {
    position: relative;
    top: -10px;
    color: red;
    margin-left: 10px;
  }
  
  .downvote {
    margin-left: 20px;
  }
  
  .vote-count {
    position: relative;
    top: -20px;
  }
  
  .vote {
    position: relative;
    top: -20px;
  }
  

.innerr-content {
  width: 600px;
  margin-top: 100px;
}

.headerrr {
  display: flex;
  justify-content: space-between;
}

.list-headerr {
  position: relative;
  margin-top: 10px;
}

.see-more {
  position: relative;
  top: 0;
}

.profile-movie-thumb-container {
  display: flex;
}

.quick-link:hover {
  color: #e85d04;
}

.listt-thumb-container:hover {
  cursor: pointer;
}

