@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #321f28;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}
.movie {
  margin: 1rem;
  width: 280px;
  background-color: rgb(226, 221, 221);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
.movie img {
  max-width: 100%;
}
.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 20px;
}
.movie-info h3 {
  margin: 0;
  font-size: 20px;
}

.movie-over {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(192, 180, 192);
  color: white;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  transform: translateY(102%);
  overflow: auto;
  max-height: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
}

.movie:hover .movie-over {
  transform: translateY(0);
}
