.comment-container {
  height: 100%;
  margin-bottom: 15px;
}

.username-container {
  display: flex;
}

.username-container p {
  margin: 10px;
}

.username {
  font-weight: 600;
  font-size: 15px;
  color: #e0e0e0;
  font-family: 'Proza Libre', sans-serif;
}

.date {
  font-size: 12px;
  color: #606060;
}

.comment-body {
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #808080;
}

.satisfied {
  position: relative;
  color: green;
  top: -10px;
  margin-left: 10px;
}

.dissatisfied {
  position: relative;
  top: -10px;
  color: red;
  margin-left: 10px;
}

.downvote {
  margin-left: 20px;
}

.vote-count {
  position: relative;
  top: -20px;
}

.vote {
  position: relative;
  top: -20px;
  background-color: transparent;
}

.vote:hover {
  background-color: transparent !important;
}

.vote:focus {
  background-color: transparent;
}

.delete-button {
  background-color: transparent;
}

.delete-button:hover {
  background-color: transparent;
}
