.content-of-the-week {
  border: 2px solid black;
  margin: 100px;
  width: 100vw;
  height: 100%;
  display: flex;
}

.content-image {
  float: left;
  width: 250px;
  margin: 15px 10px 10px 0;
}

p {
  text-align: justify;
  font-size: 14px;
}

.content-container {
  width: 40%;
}

.container1 {
  margin-right: 30px;
}

.container2 {
  margin-left: 130px;
}

.trailer-container {
  display: flex;
  width: 90vw;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 20px;
}

.baslik {
  padding-left: 50px;
}

.slick-prev {
  padding-right: 50px;
}

.carousel-container {
  width: 90%;
  padding: 20px;
  margin: auto;
}
