.content-of-the-week {
  border: 2px solid black;
  margin: 100px;
  width: 100vw;
  height: 100%;
  display: flex;
}

.content-image {
  float: left;
  width: 250px;
  margin: 15px 10px 10px 0;
}

p {
  text-align: justify;
  font-size: 14px;
}

.content-container {
  width: 40%;
}

.container1 {
  margin-right: 30px;
}

.container2 {
  margin-left: 80px;
}
