.movie-thumb-container {
  display: flex;
  width: 50%;
  margin: 20px;
}

.gün {
  width: 200px;
}

.header:hover {
  cursor: pointer;
}

.title {
  font-size: 25px;
}

.day {
  width: 300px;
}

.list-headerr:hover {
  color: #e85d04;
}

.quick-links {
  margin-top: 40%;
}
